portfolio {
  padding: 114px 0px 20px 0px;
}
#blog {
  padding: 10px 4px 10px 4px;
}
article {
  border: 1px solid;
  border-radius: 5px;
  padding: 4px 4px 4px 4px;
  margin: 4px 0 10px 0;
}
article img {
  width: 320px;
}
article .article-content {
  margin: 0 0 0 4px;
}
h4 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}